*{
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 300px 0 300px;
}
h1{
    margin-left: 35%;
    margin-top: 5%;
}
 
h2{
    
    margin-left: 35%;
    margin-top: 3%;
    margin-right: 5%;
}
h4{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%;
    margin-left: 5%
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: -3%;
    margin-right: 5%
}

.imgs{
    margin-top: 1px;
    margin-bottom: 4%;
    margin-left: 37%;
    width: 400px;
    height: 300px;}